a {
    font-size: 20px;
    outline: none;
    color:#0052D4;
}

body {
    background: linear-gradient(to right, #CC95C0,#DBD4B4,rgb(122, 210, 153));
}

footer {
    width: 100%; 
    position: fixed; 
    bottom: 0;
    left: 0; 
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    z-index: 1000; 
}
 
.container {
    display: flex;
}
 
