body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #6b5f5f;
    color: #fff;
    padding: 25px;
    text-align: center;
}

h1 {
    font-size: 25px;
    margin: 0;
}

main {
    padding: 20px;
}

q {
    font-style: italic;
    font-size: 17px;
}

img {
    height: 420px;
    width: auto;
    float: left;
    margin-right: 25px;
    background-color: #6b5f5f;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

aside {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left;
    width: 300px;
}

h3 {
    font-size: 20px;
    float: left;
}

p {
    line-height: 1.5;
}

text {
    float: left;
    margin-left: 350px;
}

time {
    font-style: italic;
    float: left;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

blockquote {
    font-style: italic;
    background-color: #fff;
    border-left: 3px solid #333;
    padding: 2px;
    margin-left: 0;
}

figure {
    margin-top: 20px;
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 16px;
}

.movie-image {
    width: 460px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0;
    background-color: #fff;
    padding: 3px;
    border-radius: 3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #6b5f5f; 
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    bottom: 0;
    left: 0; 
}
