name {
    font-size: 25px;
    font-weight: 800;
}

img {
    width: 492px; 
    height: 300px; 
}

th {
    text-align: left;
    font-size: 16px;
}

h4 {
    font-size: 16px;
    margin-left: 25px;
}